:root {
    --small_image_w: 100px;
    --small_image_h: 100px;
    --large_image_w: 310px;
    --large_image_h: 100px; 
    --rick_roll: 0;
}

* {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    transition: all, 0.35s;
}


.underline {
    text-decoration: underline;
}

.nounderline {
    text-decoration: none;
}

html,
body {
    background-image: url('./background.png');
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
b {
    font-family: "Impact", fantasy;
    text-decoration: none;
}

h2 {
    font-size: 32px;
}

.profile h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 50px;
    padding: 0;
}

.profile {
    display: flex;
}

.icons {
    margin: auto;
    margin-top: 25%;
    margin-bottom: 50%;
}

div.container {
    z-index: 100;
    text-align: center;
}

.container {
    display: flex;
    flex: 1 0 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    width: 100px;
    margin: auto;
    display: inline-block;
    opacity: 1.00;
}

.icon img {
    width: 100%
}

.icon:hover {
    filter: drop-shadow(9px 7px 5px rgba(24, 24, 24, 0.8));
}

.profile_img {
    width: 100px;
    display: inline-block;
    width: 9em;
    height: 9em;
}

.profile_img:hover {
    transition: width 5s;
    transition-delay: 2s;
    width: 1000px;
}

.profile_img:hover::after {
    filter: grayscale()
}

.image:hover {
    filter: drop-shadow(7px 5px 4px rgba(24, 24, 24, 0.8));
}

.nti {
    margin-left: auto;
    margin-right: 10px;
}

.status,
.status:visited,
.status:link {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

footer {
    width: 100%;
    height: 50px;
    color: whitesmoke;
    position: fixed;
    bottom: 0px;
    min-height: 50px;
}

footer a:visited, a:active, a:link a:hover {
    color: whitesmoke;
}

footer div {
    min-height: 50px;
    margin: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

footer div a {
    font-size: 15px;
    margin: auto;
    margin-left: 10px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

footer div img {
    width: 50px;
    height: 50px;
    padding-right: 5px;
}

header {
    z-index: 200;
    bottom: 0px;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
}

header a:visited, a:active, a:link {
    color: black;
    z-index: 200;
}

header div {
    z-index: 200;
    margin: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

header div a {
    z-index: 200;
    font-size: 25px;
    margin: auto;
    display: inline-block;
    transition: font-size 0.35s;
}

header div a:hover {
    color: white;
    font-size: 35px;
    transition: font-size 0.35s;
}

header div img {
    margin: 5px;
}

.abt_me_txt {
    font-family: 'Courier New', Courier, monospace;
}

.abt_me_txt2,.abt_me_txt3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.abt_me_txt3:hover {
    font-size: 20px;
}

.s_image {
    width: var(--small_image_w);
    height: var(--small_image_h);
    filter: brightness(0)
}

.l_image {
    width: var(--large_image_w);
    height: var(--large_image_h);
    filter: brightness(0)
}

.s_image:hover, .l_image:hover {
    filter: none;
}

.image_text {
    text-align: center;
    font-size: 34px;
}

.abt_me {
    padding-left: 27px;
    padding-right: 27px;
}

.lang_list a:hover, .lang_list a:active, .lang_list a:visited {
    color: black;
}


.burger {
    display: None;
}


.or_text {
    padding: 50px;
    padding-top: 110px;
    
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 500px) {

    h2 {
        margin-top: 50px;
    }

    .icon {
        width: 80px;
        padding: 10px;
    }

    .icons {
        max-width: 210px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .icons_home {
        max-width: 210px;
        padding-left: 7px;
        padding-right: 7px; 
    }

    /*
    header .desktop{
        display: none
    }

    .burger {
        display: block;
        position: absolute;
        top: 3px;
        left: 3px;
    }
    */

    /* Make the hamburger, hamburger */
    

    .l_image {
        width: 232px;
        height: 75px;
    }

    .s_image {
        width: 75px;
        height: 75px;
    }

    .image_text {
        font-size: 26px;
    }

    .or_text {
        padding-top: 190px;
    }

    form {
        margin-top: 75px;
    }

}